<ul>
  {{#each albums}}
  	<li>
  		<p><span class="label">Album Name</span> {{this.albumName}}</p>
      <p><span class="label">Artist:</span> {{this.artist}}</p>
      <p><span class="label">Release Date:</span> {{this.relDate}}</p> 
      <p><span class="label">Spotify Page:</span> {{this.spotPage}}</p>
      <p><span class="label">Genre:</span> {{this.genre}}</p>

      <button type="button" class="btn btn-secondary">Buy</button>

      <a href="/{{this.id}}">Update this quote</a>
  	</li>
  {{/each}}
</ul>